<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/lib/bootstrap-5.1.3-dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../static/lib/fontawesome-5.15.4/css/all.min.css"/>
    <link rel="stylesheet" href="../static/css/animate-4.1.1.min.css"/>
    <link rel="stylesheet" href="../static/css/github-dark.min.css"/>
    <link rel="stylesheet" href="../static/lib/markdown/css/editormd.min.css"/>
    <link rel="stylesheet" href="../static/lib/markdown/css/editormd.preview.min.css"/>
    <link rel="stylesheet" href="../static/css/jixing.css"/>
    <title th:text="${article.title}"></title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
    <div class="container">
        <a class="navbar-brand" href="/"><h3 class="fw-bold">jixing'blog</h3></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="/" class="nav-link fw-bold">
                        <i class="fas fa-home"></i> 主页
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/category" class="nav-link fw-bold">
                        <i class="fas fa-bookmark"></i> 分类
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/archive" class="nav-link fw-bold">
                        <i class="fas fa-archive"></i> 归档
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/comment" class="nav-link fw-bold">
                        <i class="fas fa-comments"></i> 留言板
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/about" class="nav-link fw-bold">
                        <i class="fas fa-user-circle"></i> 关于
                    </a>
                </li>
            </ul>
            <div class="d-flex">
                <input class="form-control me-2 top-search-input" type="search" placeholder="Search"
                       aria-label="Search">
                <button type="button" class="btn btn-outline-light top-search-btn">Search</button>
            </div>
            <div class="btn-group ms-lg-5 my-sm-3 userBody"></div>
            <button type="button" class="top-search-result visually-hidden" data-bs-toggle="modal"
                    data-bs-target="#searchModal"></button>
            <div class="modal fade" id="searchModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                 aria-labelledby="searchModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="searchModalLabel">Search Results</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body top-search-body"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container py-5 animate__animated animate__fadeIn my-mw">
    <div class="row">
        <div class="shadow p-3 bg-white rounded">
            <div class="d-flex justify-content-between align-items-center">
                <button class="btn btn-outline-info disabled">
                    <i class="fas fa-bookmark"></i>
                    <span th:text="${article.category.name}"></span>
                </button>
                <div class="text-secondary btn disabled">
                    <i class="fas fa-clock"></i>
                    <span th:text="${article.createTime}"></span>
                </div>
            </div>
            <hr/>
            <div class="d-flex justify-content-center">
                <div class="fs-3 fw-bold" th:text="${article.title}"></div>
            </div>
            <div class="d-flex justify-content-center">
                <div id="content-blog">
                    <textarea name="content" th:text="${article.content}"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <button id="tooltip-open" type="button" class="btn btn-primary invisible" data-bs-toggle="modal"
            data-bs-target="#tooltip"></button>
    <div class="modal fade" id="tooltip" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fw-bold">提示</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body fw-bold" id="tooltip-msg"></div>
                <div class="modal-footer">
                    <button id="tooltip-close" type="button" class="btn btn-danger" data-bs-dismiss="modal">关闭
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="bg-dark py-4">
    <div class="container-fluid">
        <div class="row text-secondary">
            <div class="d-flex justify-content-center py-1">
                <div>
                    <span>All Copyright Reserved © </span>
                    <a href="https://github.com/unjuanable" target="_blank" class="text-decoration-none text-secondary">
                        jixing</a>
                </div>
                &nbsp;&nbsp;&nbsp;
                <div>
                    <a href="/admin" target="_blank" class="text-decoration-none text-secondary">后台管理</a>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <div>
                    <i class="fas fa-envelope"></i>
                    <a href="mailto:jixingiff@163.com" class="text-decoration-none text-secondary">
                        jixingiff@163.com</a>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="../static/js/jquery-3.5.1.min.js"></script>
<script src="../static/lib/bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js"></script>
<script src="../static/lib/markdown/editormd.min.js"></script>
<script src="../static/lib/markdown/lib/marked.min.js"></script>
<script src="../static/lib/markdown/lib/prettify.min.js"></script>
<script src="../static/lib/markdown/lib/raphael.min.js"></script>
<script src="../static/lib/markdown/lib/underscore.min.js"></script>
<script src="../static/lib/markdown/lib/sequence-diagram.min.js"></script>
<script src="../static/lib/markdown/lib/flowchart.min.js"></script>
<script src="../static/js/highlight.min.js"></script>
<script src="../static/js/my-search.js"></script>
<script>hljs.highlightAll();</script>
<script src="../static/js/detail.js"></script>
<script src="../static/js/common-login.js"></script>
</body>
</html>